NetComp==0.2.3
matplotlib==3.1.2
memory_profiler==0.58.0
networkx<2
numpy==1.19.4
pandas==1.1.2
scikit-network==0.20.0
scipy==1.4.1
seaborn==0.10.1
sklearn==0.0
nodevectors==0.1.22
statsmodels==0.12.1
xlrd==1.2.0
git+https://github.com/netrias/CSRGraph.git
../../src