matplotlib==3.3.4
memory_profiler==0.58.0
pandas==1.1.2
scikit-network==0.23.1
scipy==1.6.2
seaborn==0.10.1
sklearn==0.0
nodevectors==0.1.22
statsmodels==0.12.0
xlrd==1.2.0
git+https://github.com/netrias/CSRGraph.git